<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品详情</title>
    {include file='public/header' /}
    <style type="text/css">
        .top{
            border: 1px solid black;
            padding: 5px 5px;
        }
        input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{
            -webkit-appearance: none;
        }
        input[type="number"]{
            -moz-appearance: textfield;
        }
    </style>
</head>
<body>
{include file="public/nav" /}
{include file="public/nav_model" /}
<div class="container">
    <div align="center" style="margin-top: 10px;" >
        <div class="input-group" style="width: 50%">
            <input type="text" class="form-control" placeholder="输入商品内容..." id="product">
            <span class="input-group-btn">
             <button class="btn btn-default" type="button" onclick="search()" id="search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;</button>
         </span>
        </div>
    </div>
    {if condition="count($products) gt 0"}
    <div class="row">
        {foreach name="$products" item="vo"}
        <div class="col-sm-4 col-md-3" style="margin-left:80px;margin-top:15px;border: 1px solid blue;box-shadow: 2px 2px black;height: 400px;">
            <div class="thumbnail">
                <a style="cursor: pointer" href="http://www.shop.com/index/product/{$vo.id}"><img src="{$vo.centerImg.img_url}" alt="..." width="200" height="200"></a>
                <div class="caption">
                    <h3>{$vo.name}</h3>
                    <p>{$vo.introduce}</p>
                    <p><a style="cursor: pointer" href="http://www.shop.com/index/product/{$vo.id}" class="btn btn-primary" role="button">&nbsp;进去看</a> </p>
                </div>
            </div>
        </div>
        {/foreach}
    </div>
      {else /}
    <h1 align="center" style="position: relative;top: 50px;height: 100px;">不好意思，本店暂无您需要的商品~~~~~~~~</h1>
    {/if}
    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
        <ul class="layui-tab-title">
            <li class="layui-this">浏览过的商品</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <div class="row">
                    {foreach name="$visitProduct" item="vo"}
                    <div class="col-sm-4 col-md-3" style="margin-left:80px;margin-top:15px;border: 1px solid blue;box-shadow: 2px 2px black;height: 400px;">
                        <div class="thumbnail">
                            <a style="cursor: pointer" href="http://www.shop.com/index/product/{$vo.id}"><img src="{$vo.centerImg.img_url}" alt="..." width="200" height="200"></a>
                            <div class="caption">
                                <h3>{$vo.name}</h3>
                                <p>{$vo.introduce}</p>
                                <p><a style="cursor: pointer" href="http://www.shop.com/index/product/{$vo.id}" class="btn btn-primary" role="button">&nbsp;进去看</a> </p>
                            </div>
                        </div>
                    </div>
                    {/foreach}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function search(){
        var product= $.trim($('#product').val());
        if(!product){
            alert('请输入查找的商品名字');
            return false;
        }else {
            window.location.href="http://www.shop.com/index/product/search?product="+product;

        }
    }

    $('#product').keydown(function(e){
        if(e.keyCode==13){
            $('#search').click();
        }
    })
</script>

</body>
</html>